body {
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
  }
  
  .card {
    display: grid;
    grid-template-rows: 200px min-content;
  }
  
  .card > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
  }
  
  .tags {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .tags > * {
    background-color: #999;
    color: #fff;
    padding: 0.2em 0.8em;
    border-radius: 0.2em;
    font-size: 80%;
    margin: 5px;
  }

  main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }