extends layout

block content
  h1= title
  
  ul
  each producer in producer_list
    li 
      a(href=producer.url) #{producer.producer_name} 
      | (#{producer.address})

  else
    li There are no producers.
